@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  body {
    @apply bg-[#fdfdfd] text-[#111827] antialiased selection:bg-[#111827] selection:text-white;
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}